<?xml version="1.0" encoding="utf-8"?>
<DockPanel FormatVersion="1.0" DockLeftPortion="264" DockRightPortion="300" DockTopPortion="300" DockBottomPortion="257" ActiveDocumentPane="-1" ActivePane="0">
  <Contents Count="6">
    <Content ID="0" PersistString="Byt.WorkSpace.Windows.ProjectManagerWindow" AutoHidePortion="300" IsHidden="False" IsFloat="False" />
    <Content ID="1" PersistString="Byt.WorkSpace.Windows.ErrorListWindow" AutoHidePortion="300" IsHidden="False" IsFloat="False" />
    <Content ID="2" PersistString="Byt.WorkSpace.Windows.OutputWindow" AutoHidePortion="207" IsHidden="False" IsFloat="False" />
    <Content ID="3" PersistString="Byt.WorkSpace.Windows.DeploymentWindow" AutoHidePortion="207" IsHidden="False" IsFloat="False" />
    <Content ID="4" PersistString="Byt.WorkSpace.Windows.TextFindWindow" AutoHidePortion="241" IsHidden="False" IsFloat="False" />
    <Content ID="5" PersistString="Byt.WorkSpace.Windows.SymbolFindWindow" AutoHidePortion="175" IsHidden="False" IsFloat="False" />
  </Contents>
  <Panes Count="2">
    <Pane ID="0" DockState="DockLeft" ActiveContent="0">
      <Contents Count="1">
        <Content ID="0" RefID="0" />
      </Contents>
    </Pane>
    <Pane ID="1" DockState="DockBottom" ActiveContent="3">
      <Contents Count="5">
        <Content ID="0" RefID="1" />
        <Content ID="1" RefID="2" />
        <Content ID="2" RefID="3" />
        <Content ID="3" RefID="4" />
        <Content ID="4" RefID="5" />
      </Contents>
    </Pane>
  </Panes>
  <DockWindows>
    <DockWindow ID="0" DockState="Document" ZOrderIndex="1">
      <NestedPanes Count="0" />
    </DockWindow>
    <DockWindow ID="1" DockState="DockLeft" ZOrderIndex="2">
      <NestedPanes Count="1">
        <Pane ID="0" RefID="0" PrevPane="-1" Alignment="Bottom" Proportion="0.5" />
      </NestedPanes>
    </DockWindow>
    <DockWindow ID="2" DockState="DockRight" ZOrderIndex="4">
      <NestedPanes Count="0" />
    </DockWindow>
    <DockWindow ID="3" DockState="DockTop" ZOrderIndex="5">
      <NestedPanes Count="0" />
    </DockWindow>
    <DockWindow ID="4" DockState="DockBottom" ZOrderIndex="3">
      <NestedPanes Count="1">
        <Pane ID="0" RefID="1" PrevPane="-1" Alignment="Right" Proportion="0.5" />
      </NestedPanes>
    </DockWindow>
  </DockWindows>
  <FloatWindows Count="0" />
</DockPanel>