<?xml version="1.0" encoding="utf-8"?>
<Ku>
    <Description>动态表单库</Description>
    <PackagePath>..\..\out\bin</PackagePath>
    <References>
        <Base Name="by" />
        <Hint FilePath="..\..\..\lib\byBase.byz" />
        <Hint FilePath="..\..\..\lib\byCommon.byz" />
        <Hint FilePath="..\..\..\lib\byExternal.byz" />
        <Hint FilePath="..\..\..\lib\byExternalChartjs.byz" />
        <Hint FilePath="..\..\..\lib\byExternalSMS.byz" />
        <Hint FilePath="..\..\..\lib\byLog.byz" />
        <Hint FilePath="..\..\..\lib\byUser.byz" />
        <Hint FilePath="..\..\..\lib\byWebCommon.byz" />
    </References>
</Ku>