<?xml version="1.0" encoding="utf-8"?>
<Project>
    <Dress ClientChecked="true" ClientFormWidth="1152" ClientFormHeight="681" WebChecked="true" ApplyComparisonUserChanges="false" />
    <Translation SaaSMode="true" AutoDeploy="true">
        <Client Checked="false" SolutionName="byForm_DesktopClient" EntryPointName="byFormNew.identity.ClientStartup.main(string[])" DressPath="scene\client\dress\system" CompileChecked="true" CompileMSBuildPath="C:\WINDOWS\Microsoft.NET\Framework\v4.0.30319\MSBuild.exe" CompileWarningLevel="3" ShowCompileInfo="true" CompileOpenApplication="true" />
        <Web Checked="true" DressPath="scene\web\dress\system" />
        <ServerCSharp Checked="true" SolutionName="byForm_Server" EntryPointName="byFormNew.identity.ServerStartup.main(string[])" OverwriteWebConfigFile="true" CompileChecked="true" CompileMSBuildPath="C:\WINDOWS\Microsoft.NET\Framework\v4.0.30319\MSBuild.exe" CompileWarningLevel="3" ShowCompileInfo="true" />
        <ServerJava Checked="true" ProjectName="byForm_Server" EntryPointName="byFormNew.identity.ServerStartup.main(string[])" OverwriteConfigPropertiesFile="true" PackageChecked="true" PackageCustomizedJdkPath="" PackageUseCustomizedJdkPath="false" PackageCustomizedMavenPath="" PackageUseCustomizedMavenPath="false" PackageWarningLevel="3" PackageShowPackageInfo="true" />
        <Database Checked="true">
            <Ku Name="byFormNew" Checked="true" CustomName="" DatabaseConnectionName="byFormNew">
                <Sheet Name="formField" Checked="true" />
                <Sheet Name="formTemplate" Checked="true" />
                <Sheet Name="formData" Checked="true" />
                <Sheet Name="form" Checked="true" />
                <Sheet Name="fieldTemplate" Checked="true" />
            </Ku>
            <Ku Name="byUser" Checked="true" CustomName="buUserTest" DatabaseConnectionName="byUser">
                <Sheet Name="userUpload" Checked="true" />
                <Sheet Name="log" Checked="true" />
                <Sheet Name="user" Checked="true" />
                <Sheet Name="userICO" Checked="true" />
                <Sheet Name="userAdmin" Checked="true" />
                <Sheet Name="anonymous" Checked="true" />
            </Ku>
            <Connection Name="byFormNew" SqlEngineKind="SqlServer" Address="127.0.0.1" Port="1433" ServiceName="" UserName="sa" Password="MySql@2023" />
            <Connection Name="byUser" SqlEngineKind="SqlServer" Address="127.0.0.1" Port="1433" ServiceName="" UserName="sa" Password="MySql@2023" />
        </Database>
    </Translation>
    <Deployment ServerKind="IISExpress" OpenWebHomePage="true" WebHomePage="index.html" OpenServerHomePage="true" Url="http://localhost:54435" WebVirtualPath="/" ServerVirtualPath="/server">
        <IISExpress Bit32="true" />
        <Tomcat CustomizedTomcatPath="" UseCustomizedTomcatPath="false" />
    </Deployment>
</Project>